In [1]:
## Addition
2+2

4

In [2]:
##Subtraction
90-67

23

In [3]:
##Multiplication
7*8

56

In [4]:
##Division (float)
100/3

33.333333333333336

In [5]:
##Division (integer)
100//3

33

In [6]:
##Power
3**2

9

In [7]:
name = "Shelmith"
print("My name is %s" %name)

My name is Shelmith

In [8]:
names = ["Shelmith","Fridah"]
print("My name is %s and my supervisor's name is %s" %(names[0],names[1]))

My name is Shelmith and my supervisor's name is Fridah

In [13]:
shelmith = ["Shelmith",27,525.5678]
print("My name is %s. I am %d years of age. My salary is %.2f"%(shelmith[0],shelmith[1],shelmith[2]))

My name is Shelmith. I am 27 years of age. My salary is 525.57

In [15]:
"Shelmith "*3

'Shelmith Shelmith Shelmith '