In [1]:
# Import the libraries required
import pandas as pd
import numpy as np

In [2]:
# Simulate the towns dataset variables
counties = ["Kiambu","Kiambu","Nairobi","Nyeri","Kisumu","Baringo","Coast"]
towns = ["Kawangware","Kinoo","Umoja","Othaya","Rongo","Mogotio","Lamu"]
pop_size = [345,768,978,586,349,472,563]
residence = ["Urban","Rural","Urban","Rural","Rural","Urban","Urban"]
party = ["Jubilee","Jubilee","Jubilee","Jubilee","NRM","NRM","NRM"]

In [3]:
# Create the towns dataset
townsdataset = {"Counties":counties,"Towns":towns,"PopSize":pop_size, "Residence":residence, "Party":party}
townsdataset = pd.DataFrame(townsdataset)
townsdataset

  Counties       Towns  PopSize Residence    Party
0   Kiambu  Kawangware      345     Urban  Jubilee
1   Kiambu       Kinoo      768     Rural  Jubilee
2  Nairobi       Umoja      978     Urban  Jubilee
3    Nyeri      Othaya      586     Rural  Jubilee
4   Kisumu       Rongo      349     Rural      NRM
5  Baringo     Mogotio      472     Urban      NRM
6    Coast        Lamu      563     Urban      NRM

In [4]:
# Inspect the number of rows in this dataset
townsdataset.shape[0]
townsdataset.shape[1]
print("This dataset has "+str(townsdataset.shape[0])+" rows and "+ str(townsdataset.shape[1])+" columns")

This dataset has 7 rows and 5 columns

In [5]:
# Using vector indexation to replace values
#townsdataset.at[5,"PopSize"] = 47200
townsdataset.iat[5,4] = "Jubilee"
townsdataset

  Counties       Towns  PopSize Residence    Party
0   Kiambu  Kawangware      345     Urban  Jubilee
1   Kiambu       Kinoo      768     Rural  Jubilee
2  Nairobi       Umoja      978     Urban  Jubilee
3    Nyeri      Othaya      586     Rural  Jubilee
4   Kisumu       Rongo      349     Rural      NRM
5  Baringo     Mogotio      472     Urban  Jubilee
6    Coast        Lamu      563     Urban      NRM

In [6]:
## Selecting certain columns
townsdataset2 = townsdataset[["Counties","Party"]]
townsdataset2

  Counties    Party
0   Kiambu  Jubilee
1   Kiambu  Jubilee
2  Nairobi  Jubilee
3    Nyeri  Jubilee
4   Kisumu      NRM
5  Baringo  Jubilee
6    Coast      NRM

In [7]:
## Generating a new column using np.where
townsdataset["Party2"] = np.where(townsdataset["Party"] == "Jubilee","J","N")
townsdataset

  Counties       Towns  PopSize Residence    Party Party2
0   Kiambu  Kawangware      345     Urban  Jubilee      J
1   Kiambu       Kinoo      768     Rural  Jubilee      J
2  Nairobi       Umoja      978     Urban  Jubilee      J
3    Nyeri      Othaya      586     Rural  Jubilee      J
4   Kisumu       Rongo      349     Rural      NRM      N
5  Baringo     Mogotio      472     Urban  Jubilee      J
6    Coast        Lamu      563     Urban      NRM      N

In [8]:
## Calculate the mean population size using inbuilt functions
townsdataset["PopSize"].mean()

580.1428571428571

In [9]:
## Calculate the mean population size using mathematical formula
(345+768+978+586+349+472+563)/7

580.1428571428571

In [10]:
## Calculate the mean population size per political party
popsize = pd.DataFrame(townsdataset.groupby(["Party"])["PopSize"].mean().reset_index())
popsize.columns = ["Party","Mean Population Size"]
popsize

     Party  Mean Population Size
0  Jubilee                 629.8
1      NRM                 456.0

In [11]:
##Calculate the number of entries per party.
valuecounts = pd.DataFrame(townsdataset["Party"].value_counts())
valuecounts

         Party
Jubilee      5
NRM          2

In [12]:
## Calculate various statistics of Population size
townsdataset["PopSize"].describe()

count      7.000000
mean     580.142857
std      228.882378
min      345.000000
25%      410.500000
50%      563.000000
75%      677.000000
max      978.000000
Name: PopSize, dtype: float64

In [13]:
## Filter data of Jubilee Urban areas
jubilee_urban = townsdataset.loc[(townsdataset["Residence"]=="Urban")&(townsdataset["Party"]=="Jubilee")]
jubilee_urban

  Counties       Towns  PopSize Residence    Party Party2
0   Kiambu  Kawangware      345     Urban  Jubilee      J
2  Nairobi       Umoja      978     Urban  Jubilee      J
5  Baringo     Mogotio      472     Urban  Jubilee      J