### Shelmith Kariuki
### Lambda and Map Functions üòÄ üë©‚Äçüíª
### 7th November, 2018

Lambda functions: (acronym: lace) lambda arguments colon expression (I normally use acronyms to remember some of these functions, instead of searching in google everytime).

Map functions: (acronym:fuse) function,sequence

Question 1a: Write a lambda function that takes in a number and multiplies them by another number

In [1]:
ten_multiplier = lambda x, y: x*y
print(ten_multiplier(2,10))
print(ten_multiplier(98989,7))

20
692923

Question 1b: Write a lambda function that takes in several numbers and multiplies them by 10

In [2]:
ten_multiplier = lambda x : x*10
nums = [1,2,3,4,5]
ten_multiplier_map = map(ten_multiplier, nums)
print(list(ten_multiplier_map)) 

##remember to use the list key word

[10, 20, 30, 40, 50]

Question 2a. Write a function that concatenates the first and last name, separated by space.

In [3]:
concat = lambda first,space,last: first + space + last
concat("Shelmith" , " ","Kariuki")

'Shelmith Kariuki'

Question 2b. Write a function that takes in peoples first names and last names and concatenates them

In [4]:
first = ["John","Teresa","Shelmith","Christine","Brenda"]
concat = lambda first: first + " " + "Kariuki"
concat2 = map(concat,first)
print(list(concat2))

['John Kariuki', 'Teresa Kariuki', 'Shelmith Kariuki', 'Christine Kariuki', 'Brenda Kariuki']

Question 3a: Write a function that takes in a statement and counts the number of characters in it.

In [5]:
state_len = lambda word: len(word)
state_len("Today is a very boring day, but hey, I have learned something new today")
state_len("Hi")
state_len("Shelmith is a data analyst")

26

Question 3b: Write a function that takes in several statements and counts the number of characters in each one of them.

In [6]:
state_len = lambda word: len(word)
string_vals = ["I am happy","But I have a problem","Emotional Intelligence","I was taught that by someone special"]
state_len2 = map(state_len, string_vals)
print(list(state_len2))

[10, 20, 22, 36]

Question 4a: Write a function that takes in someone's name and converts it to upper case.

In [7]:
to_upper = lambda name: name.upper()

print(to_upper("Mark Millrine"))
print(to_upper("James Kengah"))
print(to_upper("Cyrus Muriithi"))

MARK MILLRINE
JAMES KENGAH
CYRUS MURIITHI

Question 4b: Write a function that takes in several people's names and converts it to upper case.

In [8]:
to_upper = lambda name: name.upper()
names = ["Naomi Ng'ang'a","Shelmith KAriuki","Christine Okeyo","Silvia Kahihu",
         "Benjamin Mwanza"]
to_upper2 = map(to_upper, names)
print(list(to_upper2))

["NAOMI NG'ANG'A", 'SHELMITH KARIUKI', 'CHRISTINE OKEYO', 'SILVIA KAHIHU', 'BENJAMIN MWANZA']

In [20]:
import pandas as pd
names2 = pd.DataFrame(pd.Series(names).map(to_upper))
names2

                  0
0    NAOMI NG'ANG'A
1  SHELMITH KARIUKI
2   CHRISTINE OKEYO
3     SILVIA KAHIHU
4   BENJAMIN MWANZA

### END!!! I am now confident of using lambda and map functions in python üíÉ üíÉ üíÉ üíÉ üíÉ