In [6]:
import pandas as pd
import numpy as np

In [25]:
try:
    print(2+"Hello World")
except:
    print("This is an error message")

This is an error message

In [26]:
## Generate variables that will constitute the wafanyakazi dataset
subject_id = np.random.choice(list(range(10000,20000,1)),size=500,replace=False)

gender = np.random.choice(list(["Male","Female"]),size = 500,replace=True)

age = np.random.choice(list(range(18,51,1)),size = 500,replace=True)

department = np.random.choice(["Data","Operations","Finance","Research Analyst","Associate"],size = 500,replace=True)

role = np.random.choice(["Junior","Mid","Senior"],size = 500, replace = True)

income = np.random.choice(list(range(1000,10000,217)),size = 500, replace=True)

marital_status = np.random.choice(["Single","Married","Divorced"],size = 500, replace = True)

county = np.random.choice(["Nyeri","Kisumu","Taita","Embu","Kirinyaga","Laikipia","Wajir","Mombasa","Lamu",
                           "Kiambu","Nairobi"],size = 500, replace=True)

leave_days = np.random.choice(list(range(0,25,1)),size = 500, replace=True)

promotion = np.random.choice(["Yes","No"],size = 500, replace=True)

##Combine these variables into a dictionary, then into dataframe
wafanyikazi =pd.DataFrame({"Sid":subject_id,"Gender":gender,"Age":age,"Department":department,
                           "Role": role,"Income": income,"Marital_Status":marital_status,"County":county,
                           "Leave_Days": leave_days,"Promotion": promotion})

In [27]:
del wafanyikazi["Sid"]

In [28]:
try:
    del wafanyikazi["Sid"]
except:
    print("Nyagathiri, you have already dropped this one")

Nyagathiri, you have already dropped this one

In [41]:
mean_income = pd.DataFrame(wafanyikazi.Income.describe()).T
mean_income["mean"].round(1)

Income    5358.2
Name: mean, dtype: float64

In [51]:
count_gender = pd.DataFrame(wafanyikazi.Gender.value_counts().reset_index())
count_gender.columns=["Gender","Count"]
count_gender["Percentage"]=((count_gender.Count/count_gender.Count.sum())*100).round(0)
count_gender

   Gender  Count  Percentage
0  Female    254        51.0
1    Male    246        49.0

In [52]:
246/(254+246)

0.492